<ul class="sidebar navbar-nav"  >
  <div >
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  routerLink="/main/addProducts" id="pagesDropdown" role="button"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Add Product</span>
      </a>
      <!-- <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" routerLink="/main/addProducts" routerLinkActive="active-link" >Add Product</a>
      </div> -->
    </li>
    </div>

    <li class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle" id="pagesDropdown" routerLink="/main/viewProducts" role="button"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>View Product</span>
      </a>
      <!-- <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" routerLink="/main/viewProducts" routerLinkActive="active-link" >View Product List</a>
      </div> -->
    </li>
  </ul>