:host {
    height: 100%;
    display: block;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    width: 1000px;
    padding-left: 0;
    padding-right: 0;
  }
  