
	<div id="menu">
		<ul>
			<li><a href="/admin">Admin Home</a></li>
		
				<li>
				<span class="opener">Category<b></b></span>
				<ul>
                    <li><a href="/admin/addcategory">Add Category</a></li>
		            <li><a href="/admin/managecategory">Manage Category</a></li>
                    <li><a href="/admin/addsubcategory">Add Sub Category</a></li>
		            <li><a href="/admin/managesubcategory">Manage Sub Category</a></li>		    
		    	</ul>

			</li>
			<li><a href="/admin/manageuser">Manage Users</a></li>
			<li>
				<span class="opener">Post<b></b></span>
				<ul>
                    <li><a href="/admin/managepost">Manage</a></li>				
                </ul>
			</li>
			
			<li>
				<span class="opener">Other Service<b></b></span>
				<ul>
                    <li><a href="/admin/changepassword">Change password</a></li>
				</ul>
			</li>
			<li><a href="/logout">Logout</a></li>			
		</ul>
		<br class="clearfix" />
	</div>
