<%include header%>
<%include adminnav%>
<div id="page">
		<div id="content">
			<div class="box" style="height:600px;">
				<h2>Welcome to <span style="color:blue;">Post</span><span style="color:orangered">Krde.com</span></h2>
				<h3>Change Password</h3>
				<form action="/admin/changepassword" method="POST">
				<table cellspacing="25" style="margin-left:35px;">
				 <tr>
					  <td>Old Password</td>
					  <td><input type="text" name="oldpwd"></td>
				  </tr>
				 <tr>
					<td>New Passowrd</td>
					<td><input type="text" name="newpwd"></td>
					</tr>
				   <br>
				    <tr>
					<td>Confirm Passowrd</td>
					<td><input type="text" name="cnfpwd"></td>
					</tr>
				   <tr>
					<td><input type="submit" value="Confirm"></td>
				   </tr>
				</table>
				</form>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<div class="box">
			</div>
		</div>
		<br class="clearfix" />
	</div>
	<%include footer%>