<div id="page-bottom">
		<div id="page-bottom-content">
			<h3 class="animated fadeIn"> Buy / Sell anything and everything.. !! </h3>
			<p>
				Best platform to interact with people in order to Buy and Sell your Goods.
			</p>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	&copy; PostKarle.com. All rights reserved. Design by <a> <strong > Yash </strong> </a>
</div>
</body>
</html>