<%include header%>
<%include nav%>
<%include slider%>
<div id="page">
		<div id="content">
			<div class="box" style="height:460px;width:500px;margin-left:20px">
				<h2>Welcome to <span style="color:blue;">Post</span><span style="color:orangered">Krde.com</span></h2>
				<font color="red"><%= result%></font>
				<form action="/login" method="POST">
				<table cellspacing="12" style="margin-left:35px;">
				<tr><td><h3>Login</h3></td></tr>
				  <tr>
					  <td>Email/Username</td>
					  <td><input type="text" name="unm"></td>
				  </tr>
				  <tr>
					<td>Password</td>
					<td><input type="password" name="pass"></td>
				   </tr>
				   <tr>
					<td><input type="submit" value="Login"></td>
				   </tr>
				</table>
				</form>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li class="last"><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
		</div>
		<br class="clearfix" />
	</div>
	<%include footer%>