<% include header %>
<% include adminnav %>
	
	<div id="page" style="width:100%">
		<div id="content" style="width:100%;">
			<div class="box">
				
<h1>Welcome to Admin Panel</h1><br><br>
<h4>Manage Sub Category Here..</h4>
                <p>
				<table style="border-collapse:collapse;font-weight:bold;" class="tab">
				<tr><th  style="padding:10px;text-align:center;">Category Id</th>
				<th>Sub Category Name</th>
				<th>Sub Category Image</th>
				<th>Category Name</th>
				<th>Action</th>
				</tr>
				<% for(var i = 0; i < result.length; i++){%>
				    <tr>
				        <% for(key in result[i]) {%>
				            <%if(key == 'subcatimg'){%>
                                   <td><img src='../uploads/<%= result[i][key]%>' width='50px' height='50px' style="margin-left:60px"></td>
                                 <% } else{%>
                                    <td style="color:orangered;text-align:center;"><%= result[i][key]%></td>
                                 <%  }%>
				            
				        <% } %>
				        <td>
                            <a href="#"><img src="../images/update.jpg" width="30px" height="30px" title="Update"></a>
                            <a href="/admin/deletesubcategory?subcatnm=<%= result[i].subcatnm%>"><img src="../images/delete.png" width="30px" height="30px" title="Delete"></a>
                        </td>
				    </tr>
				<% } %>
				</table>
				</p>
				</div>
			<br class="clearfix" />
		</div>

		<div>
		<br class="clearfix" />
	</div>
</div>

<% include footer %>
