<% include header %>
<% include usersnav %>
<% include slider%>
	
	<div id="page">
		<div id="content">
			<div class="box">
<h5 style="color:red;position:absolute;top:10px;left:70%;"><i><span style="color:blue">User :</span> <%= user%></i></h5>				
<h1>Welcome to User Panel</h1>
			</div>
			<br class="clearfix" />
		</div>

		<div id="sidebar">
		<br class="clearfix" />
	</div>
</div>

<% include footer %>
